.field {
    -fx-border-color: black;
    -fx-alignment: center;
    -fx-font-size: 20px;
}

.field-black {
    -fx-background-color: black;
}

.field:focused {
    -fx-background-color: skyblue, derive(skyblue, 100%);
    -fx-background-insets: 0, 10;
}

.field-red {
    -fx-background-color: #ff6868;
}

.field-green {
    -fx-background-color: #74ff74;
}